<div class="container">
  <div class="back-to-prev"><a href="courses"><&nbsp;&nbsp;Back to Courses</a></div>
  <div *ngIf="courseSection" class="course-section">
    <h4>Edit Course Section for <{{courseSection.course.extCourseId}}></h4>
    <div>
      <label>Course Section Name (sectionName)</label><br>
      <input [(ngModel)]="courseSection.sectionName" placeholder="Course Name" size="50" maxlength="200"/>
    </div><br>
    <div>
      <label>Course Section Code (extSectionId)</label><br>
      <input [(ngModel)]="courseSection.extSectionId" placeholder="Section Code" size="30" maxlength="100"/>
    </div>
    <br>
    <button (click)="save()" class="btn btn-primary">Save</button>
  </div>
  <div *ngIf="courseSection">
    <div class="lesson-page-section">
      <h4>Lesson page for <{{courseSection.course.extCourseId}}>/<{{courseSection.extSectionId}}></h4>
      <div class="lesson-page-div">
        <ul>
          <li class="lesson-page" *ngFor="let lessonPage of courseSection.lessonPages">
            <a class="link-danger" (click)="deleteLessonPage(lessonPage); $event.stopPropagation()" href="">delete</a>
            <a class="lesson-page-link" [routerLink]="['/lessonpage', lessonPage.pageId]">{{lessonPage.pageName}}</a>
            <input type="text" value="1" maxlength="3" size="3">
          </li>
          <li class="lesson-page">
            <add-lesson-page-modal [courseSection] = "courseSection"></add-lesson-page-modal>
          </li>
        </ul>
      </div>
    </div>
    <div class="quiz-collection-section">
      <h4>Quiz Collection for <{{courseSection.course.extCourseId}}>/<{{courseSection.extSectionId}}></h4>
      <div class="quiz-collection-div">
        <ul>
          <li class="quiz-collection" *ngFor="let quizCollection of courseSection.quizCollections">
            <a class="link-danger" (click)="deleteQuizCollection(quizCollection); $event.stopPropagation()" href="">delete</a>
            <a class="quiz-collection-link" [routerLink]="['/quizcollection', quizCollection.quizCollectionId]">{{quizCollection.quizCollectionName}}</a>
            <input type="text" value="1" maxlength="3" size="3">
          </li>
          <li class="quiz-collection">
            <!--a href="add-quiz-collection-link">+ Add Quiz Collection</a-->
            <add-quiz-collection-modal [courseSection] = "courseSection"></add-quiz-collection-modal>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
