<div class="container">
  <div class="back-to-prev"><a href="courses"><&nbsp;&nbsp;Back to Courses</a></div>
  <div *ngIf="quizCollection" class="quiz-collection">
    <h4>Add/Edit Quiz Collection for <{{quizCollection.courseSection.course.extCourseId}}><{{quizCollection.courseSection.extSectionId}}></h4>
    <div>
      <label>Quiz Collection Name (quizCollectionName)</label><br>
      <input [(ngModel)]="quizCollection.quizCollectionName" placeholder="Quiz Collection Name" size="50" maxlength="200"/>
    </div><br>
    <div>
      <label>Quiz Collection Code (extQuizCollectionId)</label><br>
      <input [(ngModel)]="quizCollection.extQuizCollectionId" placeholder="Quiz Collection Code" size="30" maxlength="100"/>
    </div>
    <br>
    <button (click)="save()" class="btn btn-primary">Save</button>
  </div>
  <div *ngIf="quizCollection" class="quiz-collection">
    <h4>Quiz Collection for <{{quizCollection.courseSection.course.extCourseId}}><{{quizCollection.courseSection.extSectionId}}</h4>
    <!--div class="questions-section-div">
      <ul>
        <li class="questions-section" *ngFor="let quizCollection of courseSection.lessonPages">
          <a class="link-danger" href="">delete</a>
          <a class="lesson-page-link">{{lessonPage.pageName}}</a>
          <input type="text" value="1" maxlength="3" size="3">
        </li>
        <li class="lesson-page">
          <a href="lesson-page-link">+ Add Lesson Page</a>
        </li>
      </ul>
    </div-->
  </div>
</div>
