.brand-red{
  color: #ff0000;
}

.brand-light-purple{
  color: #6d6dbe;
}

.brand-red-background{
  background-color: #ff0000;
}

.brand-light-green{
  color: #42c591;
}

.brand-blue{
  color: #0000ff;
}

.brand-light-green-background{
  background-color: #42c591;
}

.font-white{
  color: #ffffff!important;
}

.font-bold{
  font-weight: 700;
}

.font-semibold{
  font-weight: 700;
}

body{
  font-family: Muli;
  #font-family: Roboto;
}

.logo-color{
  letter-spacing: -.05rem;
}

.hero-bg{
  background-color: #fff;
}

.hero-bg h1{
  font-size: 2.5rem;
  font-weight: 700;
}

.jumbotron p{
  color: #666;
  font-size: 1.3rem;
  margin-bottom: 1.8rem;
}

.jumbotron h2{
  margin-bottom: 2.5rem;
}

.jumbotron .subtext{
  font-size: 1.1rem;
}

.btn-primary{
  background-color: #ef5416;
  border-color: #ef5416;
}

.btn-brand-blue{
  background-color: #0000ff;
  color: #fff;
  font-size: 1.1rem;
}

.btn-main-CTA{
  padding: .5rem 4rem;
}

.btn-small{
  padding: .2rem;
}

.btn-small-white{
  background-color: #fff;
  color: #444;
  font-size: .8rem;
}

.btn-big-white{
  background-color: #fff;
  color: #222;
  font-size: 1.1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.btn-secondary{
  background-color: #404c60;
  border-color: #404c60;
}

.button-border{
  color: #ef5416;
  background-color: transparent;
  background-image: none;
  border-color: #ef5416;
}

p{
  color: #666;
  font-size: 1.1rem;
}

#courseFormat h6{
  font-weight: 600;
  line-height: 1.5rem;
}

.primary-link{
  color: #ef5416;
  text-decoration: underline;
  font-size: 1rem;
}

.nav-top-a{
  padding-right: 4rem!important;
}
.navbar-hack{
  border-bottom: 1px solid #eee;
  #padding: 1rem 4rem;
}

nav a{
  font-size: 1.2rem;
  margin-right: 2rem;
}

.what-we-offer-jumbo p{
  color: #ffe5e4;
  font-size: 1rem;
}

#why-deca-support p{
  font-size: 1.1rem;
}

#service-details .badge{
  font-weight: 500;
  background-color: #fff;
  color: #888;
}

.story-row{
  margin-top: 3rem;
}

.story-row .header{
  font-weight: 600;
}

.story-row .desc{
  color: #666;
  line-height: 1.5rem;
}
