.course-section{
  margin-top: 50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.lesson-page-section{
  margin-top: 30px;
}
.link-danger{
  font-size: 12px;
  color: red;
}
.lesson-page{
  margin: 0 0 1.2em 0;
  list-style-type: none;
  padding: 0;
  width: 25em;
}
